body {
  background: linear-gradient(
    65.49deg,
    #30597a 23.53%,
    #44b9ce 120.36%,
    #cddfe2 120.36%
  );

  font-family: "Josefin Sans";
}

#container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-left: 33.333%;
  margin-top: 1%;
}

h1 {
  margin-left: 2%;
  color: rgb(245, 242, 244);
}

#jogo {
  width: 50%;
  height: 50%;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  color: #44b9ce;
}

#casa1 {
  border-right: rgb(245, 242, 244) solid 6px;
  border-bottom: rgb(245, 242, 244) solid 6px;
}

#casa2 {
  border-right: rgb(245, 242, 244) solid 6px;
  border-bottom: rgb(245, 242, 244) solid 6px;
}

#casa3 {
  border-bottom: rgb(245, 242, 244) solid 6px;
}

#casa4 {
  border-right: rgb(245, 242, 244) solid 6px;
  border-bottom: rgb(245, 242, 244) solid 6px;
}

#casa5 {
  border-right: rgb(245, 242, 244) solid 6px;
  border-bottom: rgb(245, 242, 244) solid 6px;
}

#casa6 {
  border-bottom: rgb(245, 242, 244) solid 6px;
}

#casa7 {
  border-right: rgb(245, 242, 244) solid 6px;
}

#casa8 {
  border-right: rgb(245, 242, 244) solid 6px;
}
