body {
  background: linear-gradient(
    65.49deg,
    #30597a 23.53%,
    #44b9ce 120.36%,
    #cddfe2 120.36%
  );

  font-family: "Josefin Sans";
}

#container {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  align-items: center;

  margin-top: 1%;
}

h1 {
  color: rgb(245, 242, 244);
}

.message {
  color: rgb(245, 242, 244);
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 15%;
}

#game {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  color: #44b9ce;
}

#casa1 {
  border-right: rgb(245, 242, 244) solid 6px;
  border-bottom: rgb(245, 242, 244) solid 6px;
  padding: 30px 10px 10px 10px;
  text-align: center;
  align-content: center;
}

.new-game_square {
  font-size: 6em;
  color: rgb(245, 242, 244);
  opacity: 1;
}

#casa2 {
  border-right: rgb(245, 242, 244) solid 6px;
  border-bottom: rgb(245, 242, 244) solid 6px;
  padding: 30px 10px 10px 10px;
  text-align: center;
  align-content: center;
}

#casa3 {
  border-bottom: rgb(245, 242, 244) solid 6px;
  padding: 30px 10px 10px 10px;
  text-align: center;
  align-content: center;
}

#casa4 {
  border-right: rgb(245, 242, 244) solid 6px;
  border-bottom: rgb(245, 242, 244) solid 6px;
  padding: 30px 10px 10px 10px;
  text-align: center;
  align-content: center;
}

#casa5 {
  border-right: rgb(245, 242, 244) solid 6px;
  border-bottom: rgb(245, 242, 244) solid 6px;
  padding: 30px 10px 10px 10px;
  text-align: center;
  align-content: center;
}

#casa6 {
  border-bottom: rgb(245, 242, 244) solid 6px;
  padding: 30px 10px 10px 10px;
  text-align: center;
  align-content: center;
}

#casa7 {
  border-right: rgb(245, 242, 244) solid 6px;
  padding: 30px 10px 10px 10px;
  text-align: center;
  align-content: center;
}

#casa8 {
  border-right: rgb(245, 242, 244) solid 6px;
  padding: 30px 10px 10px 10px;
  text-align: center;
  align-content: center;
}

#casa9 {
  padding: 30px 10px 10px 10px;
  text-align: center;
  align-content: center;
}

.reset_btn {
  height: 40px;
  padding: 12px 15px;
  background-color: #44b9ce;
  color: white;
  border: aliceblue;
  border-radius: 2em;
  margin-top: 20px;
  font-size: 1rem;
  font-family: "Josefin Sans";
  display: none;
  margin-left: 16%;
}

.reset_btn:hover,
.reset_btn:active {
  background-color: #30597a;
  font-weight: bold;
  border: 2px solid;
  align-items: center;
  cursor: pointer;
}

.reset_btn:focus {
  outline: none;
}
